@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Delius&family=Poetsen+One&display=swap");

/* ======================== CSS Rule #1 */
html {
  
  background-image: url(https://preview.redd.it/i-finally-found-the-main-menu-bg-in-the-game-files-v0-yoks7mui2h3g1.png?width=1080&crop=smart&auto=webp&s=d85075c0edc187e2fd2cad1189acfc8c28c39e41); 
  background-size: cover;
  background-color: white;
  padding-left: 20px;
}

/* ======================== CSS Rule #2 */
h1 {
  font-family: "Poetsen One", sans-serif;
}

/* ======================== CSS Rule #3 */

.border {
        width: 300px; 
        border: 5px, solid;
        border-color: rgb(44, 39, 36);
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        margin: 10px;}

/* ======================== CSS Rule #4 */

button {
  width:100px;
  color:rgb(68, 52, 23)
}

/* ======================== CSS Rule #5 */

       img:hover {
      cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤚</text></svg>") 16 0,auto;
       }

      
